<form class="needs-validation" novalidate [formGroup]="userForm" (ngSubmit)="save()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name"
      [ngClass]="{ 'is-invalid': submitted && userFormControls.name.errors }">
    <div *ngIf="submitted && userFormControls.name.errors" class="invalid-feedback">
      <div *ngIf="userFormControls.name.errors.required">Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" disabled>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && userFormControls.password.errors }">
    <div *ngIf="submitted && userFormControls.password.errors" class="invalid-feedback">
      <div *ngIf="userFormControls.password.errors.required">Password is required</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
