<div class="row">
  <div class="col-md-3">
    <div class="position-fixed">
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
              </div>
              <input type="text" class="form-control" id="productSearch" placeholder="Product name"
                     [(ngModel)]="searchText" name="searchText">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items | search : searchText">
        <div class="card" style="width: 17rem;">
          <img src="../../../assets/images/noimage.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.value | currency}}</p>
            <button (click)="addToCart(item)" class="btn btn-success btn-block"><i class="fas fa-cart-plus"></i> Add to
              cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
